html,body,#root{
  min-height:100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height:100vh;
}

.main{
  flex:1;
  min-width:700px;
}

.sidebar{
  background: rgb(160, 189, 80);
  flex:1 1 400px;
}

.proficiency{
  display:flex;
  flex-direction: row;
  padding:10px 7px;
}

.proficiency input{
  margin:0px 4px;
}

.scores{
  display: flex;
  flex-direction: row;
}

.bubble{
  display:inline-block;
  border-radius:5px;
  background:rgb(207, 207, 207);
  padding:10px;
  border:none;
  margin:0px 2px;
  
}

.selected{
  background:rgb(10, 161, 47)!important;
  color:#fff;
}